<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container" id="app">
		<h1>Task Management</h1>
        <form>
            <input type="text" v-model="newTask" autocomplete="off">
		    <button id="add-task" v-on:click="addTask">Add Task</button>
        </form>
		<ul>
			<li v-for="(task, index) in tasks" v-bind:class="{ completed: task.completed }">
				<input type="checkbox" v-on:change="toggleTask(index)" v-bind:checked="task.completed">
				{{ task.title }}
				<button v-on:click="deleteTask(index)">Delete</button>
			</li>
		</ul>
	</div>
</body>
</html>